*{
    font-family: 'Roboto',
    sans-serif;
}

body{
    width: 1200px;
    margin: 0 auto;
}

#header{
    display: flex;
    justify-content: space-between;
    margin-top:2rem;
}

#header input,button{
    border-radius: 2px;
}

#headerButtons{
    display: flex;
}

#headerButtons div + div{
    margin-left: 10px;
}

.logo{
    background: url('../img/logo.png');
    width:100px;
    height:36px;
}

.search{
    position: relative;
}

.search input{
    width: 690px;
    height: 40px;
    padding: 0px 2rem 0px 2rem;
    border: 1px solid #edebeb;
}

.search::before{
    content: url('../img/home.svg');
    position: absolute;
    top: 10px;
    left: 10px;
}

.loginButton{
    width: 96px;
    height:40px;
    position: relative;
    background-color: #1890FF;
    color: white;
    border: none;
}

.loginButton::before{
    content: url('../img/user.svg');
    position: absolute;
    top: 10px;
    left: 10px;
}

.cart{
    position: relative;
    border: 1px solid #edebeb;
}

.cartButton{
    width: 96px;
    height:40px;
    padding-left:20px;
    background-color: white;
}

.cartButton::before {
    content: url('../img/shopping-cart.png');
    position: absolute;
    top: 10px;
    left: 10px;
}

/* 2.2 */

#promo{
    width: 100%;
    background: url('../img/promoBg.png');
    height: 300px;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.3);
}

#promoInfo{
    width: 538px;
    padding-left:5rem;
}

#promoInfo p{
    margin-bottom: 1rem;
}

.promoHead{
    font-size: 39px;
    font-weight: bold;
}

.promoSub{
    font-size: 24px;
}

#promoImage{
    background: url('../img/promoImage.png');
    width: 900px;
    height: inherit;
    background-position-x:700px;
}