*{
    font-family: 'Roboto',
    sans-serif;
}

body{
    margin: 0 auto;
    background-color: #f8f8f8;
}

#header{
    display: flex;
    justify-content: space-between;
    margin-top:2rem;
    width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
}

#header input,button{
    border-radius: 2px;
}

#headerButtons{
    display: flex;
}

#headerButtons div + div{
    margin-left: 10px;
}

.logo{
    background: url('../img/logo.png');
    width:100px;
    height:36px;
}

.search{
    position: relative;
}

.search input{
    width: 690px;
    height: 40px;
    padding: 0px 2rem 0px 2rem;
    border: 1px solid #edebeb;
}

.search::before{
    content: url('../img/home.svg');
    position: absolute;
    top: 10px;
    left: 10px;
}

.loginButton{
    width: 96px;
    height:40px;
    position: relative;
    background-color: #1890FF;
    color: white;
    border: none;
}

.loginButton::before{
    content: url('../img/user.svg');
    position: absolute;
    top: 12px;
    left: 10px;
}

.cart{
    position: relative;
    border: 1px solid #edebeb;
}

.cartButton{
    width: 96px;
    height:40px;
    padding-left:20px;
    background-color: white;
    border:none;
}

.cartButton::before {
    content: url('../img/shopping-cart.png');
    position: absolute;
    top: 12px;
    left: 5px;
}

/* 2.2 */

#promo{
    width: 1200px;
    margin: 0 auto;
    background: url('../img/promoBg.png');
    height: 300px;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.3);
}

#promoInfo{
    width: 538px;
    padding-left:5rem;
}

#promoInfo p{
    margin-bottom: 1rem;
}

.promoHead{
    font-size: 39px;
    font-weight: bold;
}

.promoSub{
    font-size: 24px;
}

#promoImage{
    background: url('../img/promoImage.png');
    width: 900px;
    height: inherit;
    background-position-x:700px;
}

#contentWrap{
    width: 1200px;
    margin: 0 auto;
}

.restaurantContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.restaurantContent .restaurantCard:nth-child(1){
    margin-right: 1rem;
}

.restaurantContent .restaurantCard + .restaurantCard{
    margin-right:1rem;
}


.restaurant .title{
    display: flex;
    justify-content: space-between;
}

.restaurant .title input{
    height:34px;
    width: 306px;
    padding: 0px 2rem 0px 2rem;
}


.restaurant .title .restaurantSearch{
    position: relative;
}

.restaurant .title .restaurantSearch input{
    border: 1px solid #edebeb;
}

.restaurant .title .restaurantSearch::before{
    content: url('../img/search.png');
    position: absolute;
    top:10px;
    left:10px;
}

#contentWrap{
    margin-top:2rem;
}

.restaurant .title p{
    font-size: 24px;
    font-weight: bold;
}

.restaurant .restaurantContent .restaurantCard{
    width: 384px;
    height: 380px;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 7px 0px rgb(0 0 0 / 30%);
    border-radius: 0.35rem;
    overflow: hidden;
}

.restaurant .restaurantContent .restaurantCard .cardImg{
    height:250px;
}

.restaurant .restaurantContent .restaurantCard .cardImg img{
    height: inherit;
    width: 384px;
}

.cardInfo{
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.35rem;
    background-color: white;
}

.cardInfo .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardInfo .name p{
    font-size: 24px;
    font-weight: bold;
} 

.cardInfo .name .time{
    background-color: black;
    color: white;
    width: 55px;
    height: 20px;
    padding: 2.5px 7px 2.5px 7px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.cardBottomInfo{
    display: flex;  
}

.cardBottomInfo img{
    width: 14px;
    height: 14px;
}

.cardBottomInfo p{
    margin: 0px 0px 0px 10px;
}

.cardBottomInfo .rating{
    color: #ffc107;
    font-weight: bold;
}

.cardBottomInfo .price{
    color: grey
}

/* 2.3 */

#footer{
    background-color: white;
    display: flex;
    width: 100vw;
    margin: 0 auto;
}

.footerWrapper{
    width: 1200px;
    margin: 0 auto;
    padding: 4rem 0rem 4rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerNav{
    display: flex;
    align-items: center;
}

a{
    margin-left: 2rem;
    text-decoration: none;
    color: black;
}

.footerNav a + a{
    margin-left:1rem;
}

.footerSoc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerSoc img{
    margin-right: 2rem
}

.item_title{
    justify-content: flex-start !important;
    align-items: center;
    font-size: 24px!important;
}

.item_title p{
    font-size: 20px!important;
}

.item_title * + *{
    margin-left: 1rem!important;
}


.item_title p.item_name{
    font-size: 34px!important;
}

.item_title img{
    width: 14px;
    height: 14px;
}

.item_card .cardBottomInfo p{
    margin: 0;
}

.item_card .cardBottomInfo{
    display:flex;
    flex-direction: column;
}
.item_card .restaurantCard{
    height: auto!important;
}

.buyContainer{
    display: flex;
    align-items: center;
}

.buyContainer * + * {
    margin-left: 1rem!important;
}

.buyContainer p{
    font-weight: bold;
    font-size: 24px;
}

.item_card button{
    width: 124px;
    height: 40px;
    position: relative;
    background-color: rgb(131, 131, 199);
    color:white;
    margin-top: 1rem;
}

.item_card button::after{
    content: url('../img/shopping-cart.png');
    position: absolute;
    right: 10px;
}
@media only screen and (max-width: 1024px){
    .restaurantContent{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    #promo{
        width: 90%;
    }
    #contentWrap{
        width: 90%;
    }
    #header{
        width: 90%;
    }
    #footer{
        width: 100%;
    }
    #contentWrap .restaurant .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contentWrap .restaurant .title input{
        margin-bottom: 2rem;
    }
    
    #promoImage{
        display: none;
    }
    #promoInfo{
        padding-left: 2rem;
    }
    #header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #header .search{
        width: 80%;
        margin: 1rem 0rem 1rem 0rem
    }
    #header .search input{
        width: inherit;

    }
}